matplotlib
numpy
scipy
pandas
astropy==5.3 # (31-12-2023: ver 6.0.0 dispnibile ma non supportata da Poliastro)
astroquery
gravitational
poliastro #sembra che verrà dismesso a breve!
skyfield
jplephem
orbital
numba
plotly
